body {
    font-family: Arial, sans-serif;
    /* background-color: #f0f0f0; */
    background-image: linear-gradient( to top, #4A71E9 -30%, #4c72e5, #6b4569, #7c4c7a) ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.pagina {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
 
}

.formLogin {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 7px;
    padding: 40px;
    box-shadow: 10px 10px 40px rgba(0, 0, 0, 0.4);
    border: 1px solid #000000;
}

.formLogin h1 {
    padding: 0;
    margin: 0;
    font-weight: 500;
    font-size: 2.3em;
}

.formLogin p {
    display: inline-block;
    font-size: 14px;
    color: #666;
    margin-bottom: 25px;
}

.formLogin input {
    padding: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
    margin-bottom: 20px;
    margin-top: 5px;
    border-radius: 4px;
}

.formLogin label {
    font-size: 14px;
    font-weight: 600;
}

.formLogin a:hover {
    color: #68145c;
}

.btn {
    background-color: #691267;
    color: #fff;
    font-size: 14px;
    font-weight: 600;
    border: none;
    margin: 0;
}

